@import 'variables';

@import 'bootstrap/scss/bootstrap.scss';
@import '@fortawesome/fontawesome-free/css/all.css';
@import 'react-tooltip/dist/react-tooltip.css';

html,
body {
  height: 100%;
}

body {
  /* fallback for old browsers */
  background: $brand-yellow;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to top, $brand-blue, 50%, $brand-yellow) fixed;

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to top, $brand-blue, 50%, $brand-yellow) fixed;
}
