@import 'variables';

@import '../../../node_modules/bootstrap/scss/bootstrap.scss';

$fa-font-path: '../../../node_modules/@fortawesome/fontawesome-free/webfonts';
@import '../../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '../../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss';
@import '../../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss';

@import '../../../node_modules/react-tooltip/dist/react-tooltip.css';

html,
body {
  height: 100%;
}

body {
  /* fallback for old browsers */
  background: $brand-yellow;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to top, $brand-blue, 50%, $brand-yellow) fixed;

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to top, $brand-blue, 50%, $brand-yellow) fixed;
}
